<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dd.admin.business.product.mapper.ProductImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dd.admin.business.product.entity.ProductImage">
        <id column="ID" property="id" />
        <result column="PRODUCT_ID" property="productId" />
        <result column="IMAGE_ID" property="imageId" />
        <result column="IMAGE_URL" property="imageUrl" />
        <result column="IMAGE_SORT" property="imageSort" />
        <result column="IS_MAIN" property="isMain" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_NAME" property="createName" />
        <result column="CREATE_ID" property="createId" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_NAME" property="updateName" />
        <result column="UPDATE_ID" property="updateId" />
        <result column="VERSION" property="version" />
        <result column="DELETED" property="deleted" />
        <result column="BRAND_ID" property="brandId" />
        <result column="BRAND_NAME" property="brandName" />
        <result column="SHOP_ID" property="shopId" />
        <result column="SHOP_NAME" property="shopName" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="DEPT_ID" property="deptId" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PRODUCT_ID, IMAGE_ID, IMAGE_URL, IMAGE_SORT, CREATE_TIME, UPDATE_TIME, VERSION, DELETED
    </sql>

</mapper>